<div class="container">
    <div class="row">
      
        <%= render "users/info", user: @user, book: @book %>

        <div class="col-xs-9">
          <h2>Users</h2>
          <table class="table">
            <thead>
              <th>image</th>
              <th>name</th>
              <th colspan="3"></th>
            </thead>
            <tbody>
              <% if !@users.nil? %>
                <% @users.each do |user| %>
                  <tr>
                    <td>
                      <%= attachment_image_tag user, :profile_image, size: "50x50", fallback: asset_path('no_image') %>
                    </td>
                    <td>
                      <%= user.name %>
                    </td>
                    <td>
                      <%= link_to "Show", user_path(user) %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
  
        </div>
    </div>
</div>
 